body {
    font-size:large;
    font-family: 'Trebuchet MS';
    background-color: #caeeec;
}

.row {
  display: flex;
  justify-content: space-around;
 
}

.head {
  text-align:center;
  border: 5px solid black; 
  display:inline-block; 
  background-color: rgb(93, 230, 116);
  padding:10px;
}

.head2 {
  text-align:center;
  border: 5px solid black;
  display:inline-block;
  background-color: rgb(93, 230, 116);
  margin: 20px;
  padding:10px;
}

.col {
  width:500px;
  text-align: left;
  border: 3px solid black;
  float:left;
  display:block;
  text-align:center;
  margin:20px;
  background-color:#fada66;
}