body {
    font-size:large;
    font-family: 'Trebuchet MS';
    background-color: #8fe5e1;
}

.row {
  display: flex;
  justify-content: space-around;
 
}

.col2 {
  text-align:center;
  border: 5px solid black; 
  display:inline-block; 
  background-color: rgb(57, 220, 70);
  margin:20px;
  padding:10px;
}

.col {
  width:500px;
  text-align: left;
  border: 3px solid black;
  float:left;
  display:block;
  text-align:center;
  margin:10px;
  background-color:#66faf0;
  padding:20px;
}

.head{
  text-align:center;
}